@model Biblioteka.Models.Książki

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>@Html.DisplayNameFor(model => model.TytułKsiążki) - @Html.DisplayFor(model => model.TytułKsiążki)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Opis:
        </dt>

        <dd>
           
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
